*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243,243,243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.pai{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100vh;
}

.phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
 
}

.phone img{
    
    margin-right: 40px;
    width: 25vw;
}
.continue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 30vw;
    min-height: 34rem;
    
}

.inst-logo{
    height: 5rem;
    width: 70%;
}
.group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 2px solid rgb(235, 234, 234);
    margin-bottom: 10px ;

}

.gropu:nth-child(1){
    min-width: 19rem;
}

.logo{
    height: 2rem;
}
.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
 
}
.perfil img{
    height: 6rem;
}
.login{
    background-color: #0095f6;
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin-top: 1rem;
}
.logout{
    color:#0095f6 ;
    margin-top: 5px;
}

.not-acount{
    color: rgb(160,160,160);

}

.link-blue{
    color: #0095f6;
 
}
.get-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    
}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url(fotos/store.png);
}
.app-download:nth-child(2){
    background-image: url(fotos/store.p.png);
}

@media (max-width: 1024px){
    .pai{
        width: 90%;
    }
}

@media (max-width: 650px){
    body{
        background-color: white;
    }
    .pai{
        width: 90%;
    }
    .phone{
        display: none;
    }
    .continue{
        100%
    }

    .continue{
        border: 1px solid transparent;
    }
    .download{
        width: 140%;
    }
}

/* segunda página*/

